/* COMMON RULES */

body{
    font-family: 'Roboto', sans-serif;
}



/* HEADER */

div.ms_header-setup{
    height: 140px;
    background-color: #009688;
}


/* MAIN */

div.container{
    height: 750px;
    width: 1200px;
    position: relative;
    top: -120px;

}


/* avatar box  */
div.ms_avatar-box{
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.ms_avatar-img{
    height: 50px;
    margin: 8px 0 8px 5px;
    
}

div.ms_avatar-img img{
    height: 100%;
    border-radius: 50%;
}

div.ms_icons-items i{
    font-size: 1.5rem;
    margin: auto 4px;
    color: dimgrey;
}


/* notification toggle box  */

div.ms_notification-box{
    background-color: #8EDAFC;
    display: flex;
    align-items: center;
}

div.ms_notification-box i{
    font-size: 2rem;
    margin: 8px;
    padding: 10px;
    color: white;
   
}

div.ms_notific-txt{
    margin-top: 6px;
}

div.ms_notific-txt span.ms_ntf-txt{
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 0.5rem;
}

div.ms_notific-txt span.ms_active-ntf{
    font-size: 0.8rem;
    text-decoration: underline;
    color: dimgrey;
    
}