<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- google fonts  -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

        <!-- boostrap icon  -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
        
        <!-- bootstrap link  -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

        <!-- vue script  -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

        <!-- css style sheet  -->
        <link rel="stylesheet" href="./css/style.css">

        <title>BoolZapp</title>
    </head>

    <body>
     
        <main>
            <div id="root">

                <!-- green bar  -->
                <div class="container-fluid ms_header-setup"></div>

                <!-- main container  -->
                <div class="container">
                    <div class="row">

                        <!-- left col: contact box  -->
                        <div class="col-4">
                            <div class="row flex-column">
                                <div class="col-12 p-0">

                                    <!-- box with avatar  -->
                                    <div class="ms_avatar-box">

                                        <div class="ms_avatar-img">
                                            <img src="./img/avatar_io.jpg" alt="avatar">
                                            <span class="fw-bold" >Sofia</span>
                                        </div>

                                        <div class="ms_icons-items">
                                            <i class="bi bi-arrow-clockwise"></i>
                                            <i class="bi bi-chat-left-fill"></i>
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </div>

                                    </div>
                                    

                                    <!-- box with notification toggle  -->
                                    <div class="ms_notification-box">
                                        
                                        <i class="bi bi-bell-slash"></i>

                                        <div class="ms_notific-txt">
                                            <span class="d-block ms_ntf-txt">Ricevi notifiche di nuovi messaggi</span>
                                            <span class="ms_active-ntf">Attiva notifiche desktop</span>
                                        </div>

                                    </div>

                                    <!-- contact list box -->
                                    <div class="ms_constact-list-box">

                                        <!-- search-bar  -->
                                        <div class="ms_src-bar-container">

                                            <div class="form-control ms_src-icon ">
                                                <i class="bi bi-search"></i>
                                            </div>
                                            <input class="form-control " type="search" @keyUp="listFilter()" v-model="userSearch" placeholder="Cerca..." aria-label="Search">
                                   
                                        </div>

                                        <!-- constacts column -->
                                        <div class="ms_contacts-box">

                                            <div class="ms_single-cntct-box" 
                                                :class="{ active: index === activeIndex }"
                                                @click="setActiveElement(index)"
                                                v-for="(contact, index) in contacts"
                                                v-if="contacts.visible == 'true' "
                                            >
                                                <img :src="'./img/avatar' + contact.avatar + '.jpg' " alt="avatar">

                                                <div class="ms_contact-name">

                                                    <div class="ms_contant-name-txt">
                                                        <span class="d-block ms_user-name">{{ contact.name }}</span>
                                                        <span class="ms_last-msg-sent">Ultimo messaggio ricevuto</span>
                                                    </div>

                                                    <div class="ms_contant-name-time">
                                                        <span>12.00</span>
                                                    </div>
                                                    
                                                </div>
                                                
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>


                        <!-- right col: chat box  -->
                        <div class="col-8">
                            <div class="row flex-column">
                                <div class="col-12 p-0">

                                    <!-- top-bar dell'avatar  -->
                                    <div class="ms_avatar-box">

                                        <div class="ms_avatar-img">
                                            <img :src="'./img/avatar' + contacts[activeIndex].avatar + '.jpg' " alt="avatar">
                                            <span class="fw-bold" >{{ contacts[activeIndex].name }}</span>
                                        </div>

                                        <div class="ms_icons-items">
                                            <i class="bi bi-search"></i>
                                            <i class="bi bi-paperclip"></i>
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </div>

                                    </div>

                                    <!-- chat room  -->
                                    <div class="ms_chat-room">

                                        <div class="row flex-row-reverse"
                                            v-for="userMessage in contacts[activeIndex].messages"
                                            v-if="userMessage.status == 'sent' "                                       
                                        >
                                            <div class="col-6">

                                                <div class="ms_message sent">
                                                    <div> {{ userMessage.message }} </div>
                                                    <div> {{ userMessage.date }} </div> 
                                                </div>
                                            
                                            </div class="col-6">
                                          
                                        </div>

                                        <div class="row"
                                            v-else-if="userMessage.status == 'received' "
                                        >
                                            <div class="col-6">

                                                <div class="ms_message received">
                                        
                                                    <div> {{ userMessage.message }} </div>
                                                    <div> {{ userMessage.date }} </div> 
                                                </div>
                                            
                                            </div class="col-6">
                                          
                                        </div>

                                    </div>

                                    <!-- input text bar  -->
                                    <div class="ms_input-bar">

                                        <div class="bar-item-container">

                                            <div class="ms_icon-cont">
                                                <i class="bi bi-emoji-smile"></i>
                                            </div>
                                            
                                            <input type="text" 
                                                    v-model="userInputText"
                                                    @keyUp.enter="newMessagePush"
                                            >

                                            <div class="ms_icon-cont">
                                                <i class="bi bi-mic-fill"></i>
                                            </div>
                                                                                        
                                        </div>
                                        
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
        <!-- js script  -->
        <script src="./js/script.js"></script>
    </body>
</html>